body {
     background: #f2f2f2;
}

.foto1 {
   width: 100%;
}

h1 {
    text-align: center;
    text-align:center; background: #c9c9c9
}

p {
    text-align: center;
}

#N {
    font-size: 15px;
}

.l1 {
    font-style: italic;
}


em {  
    color: rgb(181, 181, 181);
}
.nb{
    background: FFRFR;

}