body {
     background: #f1c8a5;
}

#foto1 {
   width: 100%;

}

h1 {
    text-align: center;
    text-align:center; background: #f7e5ce
}

p {
    text-align: center;
}

#N {
    font-size: 15px;
}

em {  
    color: rgb(231, 178, 118);
}